* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-image: url("./images/showcase-right.png");
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    height: 100vh;

    .container {
        height: 100vh;
        position: relative;

        .col-md-6 {
            position: absolute;
            top: 45%;
            transform: translateY(-50%);

            .showcase-left {
                padding-left: 16px;

                h1 {
                    font-family: "Dancing Script", cursive;
                    font-weight: 700;
                    font-size: 60px;
                    color: #302e2f;
                    line-height: 0.95;
                }

                p {
                    font-family: "Montserrat", sans-serif;
                    color: #302e2f;
                    font-weight: 500;
                    margin-bottom: 30px;
                    margin-top: 20px;
                }

                a {
                    text-decoration: none;
                }

                .free-demo {
                    padding: 10px 30px;
                    border: 1px solid #302e2f;
                    border-radius: 20px;
                    color: #302e2f;
                    text-transform: uppercase;
                    font-family: "Montserrat", sans-serif;
                    margin-right: 20px;
                }

                .sign-up {
                    padding: 12px 45px;
                    border-radius: 21px;
                    text-transform: uppercase;
                    font-family: "Montserrat", sans-serif;
                    color: #edcb50;
                    font-weight: 900;
                    background-color: #302e2f;
                }
            }
        }
    }

    ul.navbar-nav {
        .nav-item {
            margin-left: 20px;

            .login,
            .sign-up {
                border: 1px solid #302e2f;
                border-radius: 30px;
                padding: 8px 30px 6px 30px;
                transition: all 0.3s;
            }

            .sign-up {
                background-color: #272727;
                color: #edcb50 !important;
                font-weight: 900;
            }

            .nav-link {
                text-transform: uppercase;
                font-family: "Montserrat", sans-serif;
                color: #302e2f;
            }
        }
    }
}

#services {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #f7f7f7;

    h1 {
        font-family: "Montserrat", sans-serif;
        color: #302e2f;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 20px;

        #services-icon-1 {
            position: absolute;
            top: -25px;
            margin-left: 30px;
        }

        #services-icon-2 {
            position: relative;
            top: -20px;
            right: -35px;
        }
    }

    .services-desc {
        margin-bottom: 50px;

        p {
            font-family: "Montserrat", sans-serif;
            color: #302e2f;
            font-weight: 500;
            padding-left: 10%;
            padding-right: 10%;
            font-size: 18px;
        }
    }

    .services-card {
        background-color: #fff;
        text-align: center;
        padding: 30px 0px 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

        h3 {
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            color: #302e2f;
            font-size: 20px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        p {
            font-family: "Montserrat", sans-serif;
            color: #302e2f;
            font-weight: 500;
            font-size: 18px;
            padding-left: 20%;
            padding-right: 20%;
        }
    }
}

#rated-books {
    padding-top: 50px;
    padding-bottom: 50px;

    h1 {
        font-family: "Dancing Script", cursive;
        font-weight: 700;
        font-size: 60px;
        color: #302e2f;
        margin-bottom: 35px;
    }

    .rated-books {
        display: flex;
        justify-content: space-between;

        .book-card {
            position: relative;
            transition: all 0.4s;
            cursor: pointer;

            &:hover > .book-hover {
                display: flex;
            }

            .book-hover {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 20px;
                display: none;
                transition: all 0.4s;

                p {
                    color: #fff;
                    font-family: "Montserrat", sans-serif;
                    text-align: center;
                }

                a {
                    text-decoration: none;
                    color: #302e2f;
                    background-color: #edcb50;
                    font-family: "Montserrat", sans-serif;
                    text-transform: uppercase;
                    padding: 8px 20px 6px 20px;
                    border-radius: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}

#benefites {
    background-image: url("./images/benefites-section.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 70px;

    .benefites-right {
        h1 {
            font-family: "Dancing Script", cursive;
            color: #302e2f;
            font-size: 55px;
            text-align: center;
            margin-bottom: 50px;
        }

        .benefites-card {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            img {
                width: 80px;
                height: 80px;
                filter: grayscale(0%);
            }

            p {
                text-transform: uppercase;
                font-family: "Montserrat", sans-serif;
                color: #302e2f;
                font-weight: 600;
                margin-top: 20px;
            }
        }
    }
}

#happy-customers {
    padding-top: 50px;
    padding-bottom: 50px;

    .container {
        #carouselExampleControls {
            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                height: 100px;
                width: 100px;
                outline: black;
                background-size: 100%, 100%;
                background-image: none;
            }

            .carousel-control-next-icon:after {
                content: url("./images/arrow-right.png");
                font-size: 55px;
                // color: red;
            }

            .carousel-control-prev-icon:after {
                content: url("./images/arrow-left.png");
                font-size: 55px;
                // color: red;
            }
        }
    }

    h1 {
        font-family: "Montserrat", sans-serif;
        color: #302e2f;
        display: inline;
        position: relative;
        margin-bottom: 50px;

        .customers-title-1 {
            position: absolute;
            top: -17px;
            left: 32px;
        }

        .customers-title-2 {
            position: relative;
            top: -23px;
            left: 26px;
        }
    }

    .slider-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15%;
        padding-right: 15%;

        img {
            width: 250px;
            margin-right: 50px;
        }

        .slider-content-right {
            position: relative;
            h3 {
                font-family: "Montserrat", sans-serif;
                color: #302e2f;
                font-weight: 900;
                font-size: 25px;
            }

            h5 {
                color: #888a8d;
                font-family: "Montserrat", sans-serif;
                font-weight: 300;
                font-size: 18px;
                text-transform: lowercase;
            }

            p {
                font-family: "Montserrat", sans-serif;
                color: #302e2f;
                font-weight: 500;
            }

            .slider-item-top {
                position: absolute;
                left: -25px;
                z-index: -1;
                width: 100px;
            }

            .slider-item-bottom {
                position: absolute;
                top: 110px;
                right: -50px;
                z-index: -1;
                width: 100px;
            }
        }
    }
}

footer {
    background-image: url("./images/footer-bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    .footer-bottom {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #302e2f;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        p {
            font-family: "Montserrat", sans-serif;
            color: #fff;
            margin-bottom: 0;
        }
    }
}
