* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  background-image: url("./images/showcase-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header .container {
  height: 100vh;
  position: relative;
}

header .container .col-md-6 {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  header .container .col-md-6 {
    top: 50%;
  }
}

header .container .col-md-6 .showcase-left {
  padding-left: 16px;
}

header .container .col-md-6 .showcase-left h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 60px;
  color: #302e2f;
  line-height: 0.95;
}

@media (max-width: 768px) {
  header .container .col-md-6 .showcase-left h1 {
    font-size: 40px;
  }
}

header .container .col-md-6 .showcase-left p {
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 20px;
}

header .container .col-md-6 .showcase-left a {
  text-decoration: none;
}

header .container .col-md-6 .showcase-left .free-demo {
  padding: 10px 30px;
  border: 1px solid #302e2f;
  border-radius: 20px;
  color: #302e2f;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-right: 20px;
}

@media (max-width: 768px) {
  header .container .col-md-6 .showcase-left .free-demo {
    padding: 10px 20px;
  }
}

header .container .col-md-6 .showcase-left .sign-up {
  padding: 12px 45px;
  border-radius: 21px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #edcb50;
  font-weight: 900;
  background-color: #302e2f;
}

@media (max-width: 768px) {
  header .container .col-md-6 .showcase-left .sign-up {
    padding: 10px 35px;
  }
}

header ul.navbar-nav .nav-item {
  margin-left: 20px;
}

header ul.navbar-nav .nav-item .login,
header ul.navbar-nav .nav-item .sign-up {
  border: 1px solid #302e2f;
  border-radius: 30px;
  padding: 8px 30px 6px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header ul.navbar-nav .nav-item .sign-up {
  background-color: #272727;
  color: #edcb50 !important;
  font-weight: 900;
}

header ul.navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
}

#services {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

#services h1 {
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #services h1 {
    font-size: 30px;
  }
}

#services h1 #services-icon-1 {
  position: absolute;
  top: -25px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  #services h1 #services-icon-1 {
    margin-left: 20px;
  }
}

#services h1 #services-icon-2 {
  position: relative;
  top: -20px;
  right: -35px;
}

@media (max-width: 768px) {
  #services h1 #services-icon-2 {
    right: -25px;
  }
}

#services .services-desc {
  margin-bottom: 50px;
}

#services .services-desc p {
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
  font-weight: 500;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
}

@media (max-width: 768px) {
  #services .services-desc p {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#services .services-card {
  background-color: #fff;
  text-align: center;
  padding: 30px 0px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  #services .services-card {
    margin-bottom: 20px;
  }
}

#services .services-card h3 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

#services .services-card p {
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
  font-weight: 500;
  font-size: 18px;
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 768px) {
  #services .services-card p {
    padding-left: 16px;
    padding-right: 16px;
  }
}

#rated-books {
  padding-top: 50px;
  padding-bottom: 50px;
}

#rated-books h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 60px;
  color: #302e2f;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  #rated-books h1 {
    font-size: 40px;
  }
}

#rated-books .rated-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#rated-books .rated-books .book-card {
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

@media (max-width: 768px) {
  #rated-books .rated-books .book-card {
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  #rated-books .rated-books .book-card {
    margin: 0 auto 20px auto;
  }
}

#rated-books .rated-books .book-card:hover > .book-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#rated-books .rated-books .book-card .book-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  display: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#rated-books .rated-books .book-card .book-hover p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#rated-books .rated-books .book-card .book-hover a {
  text-decoration: none;
  color: #302e2f;
  background-color: #edcb50;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 8px 20px 6px 20px;
  border-radius: 20px;
  font-weight: 500;
}

#benefites {
  background-image: url("./images/benefites-section-new.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
}

@media (max-width: 768px) {
  #benefites {
    background-size: inherit;
  }
}

#benefites .benefites-right h1 {
  font-family: "Dancing Script", cursive;
  color: #302e2f;
  font-size: 55px;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #benefites .benefites-right h1 {
    font-size: 35px;
  }
}

#benefites .benefites-right .benefites-card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #benefites .benefites-right .benefites-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#benefites .benefites-right .benefites-card img {
  width: 80px;
  height: 80px;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

#benefites .benefites-right .benefites-card p {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
  font-weight: 600;
  margin-top: 20px;
}

#happy-customers {
  padding-top: 50px;
  padding-bottom: 50px;
}

#happy-customers .container #carouselExampleControls .carousel-control-prev-icon,
#happy-customers .container #carouselExampleControls .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

#happy-customers .container #carouselExampleControls .carousel-control-next-icon:after {
  content: url("./images/arrow-right.png");
  font-size: 55px;
}

#happy-customers .container #carouselExampleControls .carousel-control-prev-icon:after {
  content: url("./images/arrow-left.png");
  font-size: 55px;
}

#happy-customers h1 {
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
  display: inline;
  position: relative;
  margin-bottom: 50px;
}

#happy-customers h1 .customers-title-1 {
  position: absolute;
  top: -17px;
  left: 32px;
}

#happy-customers h1 .customers-title-2 {
  position: relative;
  top: -23px;
  left: 26px;
}

#happy-customers .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15%;
  padding-right: 15%;
}

@media (max-width: 768px) {
  #happy-customers .slider-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#happy-customers .slider-content img {
  width: 250px;
  margin-right: 50px;
}

@media (max-width: 768px) {
  #happy-customers .slider-content img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

#happy-customers .slider-content .slider-content-right {
  position: relative;
}

@media (max-width: 768px) {
  #happy-customers .slider-content .slider-content-right {
    text-align: center;
  }
}

#happy-customers .slider-content .slider-content-right h3 {
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
  font-weight: 900;
  font-size: 25px;
}

#happy-customers .slider-content .slider-content-right h5 {
  color: #888a8d;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-transform: lowercase;
}

#happy-customers .slider-content .slider-content-right p {
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
  font-weight: 500;
}

#happy-customers .slider-content .slider-content-right .slider-item-top {
  position: absolute;
  left: -25px;
  z-index: -1;
  width: 100px;
}

#happy-customers .slider-content .slider-content-right .slider-item-bottom {
  position: absolute;
  top: 110px;
  right: -50px;
  z-index: -1;
  width: 100px;
}

@media (max-width: 768px) {
  #happy-customers .slider-content .slider-content-right .slider-item-bottom {
    position: absolute;
    top: inherit;
    bottom: 0px;
    right: -25px;
    z-index: -1;
    width: 100px;
  }
}

footer {
  background-image: url("./images/footer-bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

footer .footer-card {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
}

@media (max-width: 768px) {
  footer .footer-card {
    left: 45%;
  }
}

footer .footer-card h1 {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  footer .footer-card h1 {
    font-size: 40px;
  }
}

footer .footer-card h2 {
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  color: #edcb50;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  footer .footer-card h2 {
    font-size: 60px;
  }
}

footer .footer-card h3 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: #302e2f;
  text-transform: uppercase;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  footer .footer-card h3 {
    font-size: 30px;
  }
}

footer .footer-card div {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  margin-top: 100px;
}

@media (max-width: 768px) {
  footer .footer-card div {
    margin-top: 50px;
  }
}

@media (max-width: 320px) {
  footer .footer-card div {
    margin-top: -25px;
  }
}

footer .footer-card a {
  text-decoration: none;
  background-color: #302e2f;
  color: #edcb50;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
  padding: 20px 50px;
  border-radius: 30px;
  text-transform: uppercase;
  display: block;
}

@media (max-width: 768px) {
  footer .footer-card a {
    padding: 8px 30px;
    font-size: 25px;
  }
}

@media (max-width: 320px) {
  footer .footer-card a {
    padding: 8px 20px;
    font-size: 25px;
  }
}

footer .footer-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #302e2f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer .footer-bottom p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */